# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env
.env.*

# IDE Settings
.vscode/
.idea/

# Build Files
build/
dist/
*.egg-info/

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Cache
.mypy_cache/
.ipynb_checkpoints/

# Operating System Files
.DS_Store
Thumbs.db

# Temporary Files
*.tmp
*.bak

# SQLite Database
*.sqlite3